.menu {
	position: relative;
}

.menu::after {
	--size: 8px;

	border-style: solid;
	border-width: 0 1px 1px 0;
	box-sizing: border-box;
	content: '';
	height: var(--size);
	margin-right: 4px;
	pointer-events: none;
	position: absolute;
	right: calc(var(--size) / 2);
	top: calc(50% - var(--size) / 2);
	transform: rotate(45deg);
	transform-origin: right center;
	width: var(--size);
}

.menu__select {
	appearance: none;
	background-color: transparent;
	border: 1px solid;
	color: inherit;
	cursor: pointer;
	display: block;
	font-size: 0.75rem;
	padding: 0.25rem 1.25rem 0.25rem 0.25rem;
}

.menu__select:focus {
	outline: none;
}
