.menu {
  position: relative;
}

.menu::after {
  --size: 8px;

  content: '';
  position: absolute;
  right: calc(var(--size) / 2);
  top: calc(50% - var(--size) / 2);
  width: var(--size);
  height: var(--size);
  transform: rotate(45deg);
  transform-origin: right center;
  border-width: 0 1px 1px 0;
  border-style: solid;
  pointer-events: none;
  margin-right: 4px;
  box-sizing: border-box;
}

.menu__select {
  appearance: none;
  display: block;
  background-color: transparent;
  padding: 0.25rem 1.25rem 0.25rem 0.25rem;
  border: 1px solid;
  cursor: pointer;
  font-size: 0.75rem;
  color: inherit;
}

.menu__select:focus {
  outline: none;
}
