.card {
}

.card_fullScreen {
	box-sizing: border-box;
	min-height: 100vh;
}

.card_black {
	background: var(--card-black-theme);
}

.card_red {
	background: var(--card-red-theme);
}

.card_orange {
	background: var(--card-orange-theme);
}

.card_green {
	background: var(--card-green-theme);
}

.card_blue {
	background: var(--card-blue-theme);
}

.card_pink {
	background: var(--card-pink-theme);
}

.card_withoutTheme {
	background-color: var(--overlay-light-low);
}
