.card {
}

.card_fullScreen {
	box-sizing: border-box;
	min-height: 100vh;
}

.card_black {
	background: linear-gradient(145deg, #131313, #2a2a2a, #3e3e3e);
}

.card_red {
	background: linear-gradient(145deg, #873232, #a24747, #b65d5d);
}

.card_orange {
	background: linear-gradient(145deg, #9f5c22, #b66b37, #cc7e4a);
}

.card_green {
	background: linear-gradient(145deg, #3a5e3b, #527f5a, #6f9c6f);
}

.card_blue {
	background: linear-gradient(145deg, #3c4e60, #4a6784, #5b7b97);
}

.card_pink {
	background: linear-gradient(145deg, #8f3a5b, #a74e72, #be6c88);
}
