.card {
	display: flex;
	flex-direction: column;
	overflow-wrap: anywhere;
	padding: var(--app-padding);
}

.card__name {
	font-size: 2rem;
	font-weight: 900;
}

.card__description {
	white-space: pre-wrap;
}

.card__body {
	display: grid;
	gap: 3rem;
}

.card__footer {
	margin-top: auto;
	padding-top: 2rem;
}

.footer {
	display: grid;
	font-size: 0.75rem;
	gap: 12px;
	justify-items: center;
	text-align: center;
}

.footer__link {
	color: inherit;
}

.logoAccentText {
	fill: var(--light-color);
}
