.benefits {
	display: grid;
	gap: 3rem;
}

@media (width >= 750px) and (width <= 1100px) {
	.benefits {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width >= 1100px) {
	.benefits {
		grid-template-columns: repeat(3, 1fr);
	}
}
