.app {
  display: flex;
  flex-direction: column;
  padding: var(--app-padding);
  min-height: calc(100vh - var(--app-padding) * 2);
  background-color: var(--dark-color);
}

.app__header {
  margin-bottom: clamp(3rem, 4vw, 5rem);
}

.app__footer {
  margin-top: auto;
  padding-top: var(--app-gap);
}
