:root {
  --dark-color: #181818;
  --light-color: #cbd3d7;
  --primary-color: #5070dc;
  --secondary-color: #2f3a80;
  --overlay-light: rgba(255, 255, 255, 0.075);
}

:root {
  --max-body-width: 360px;
  --app-padding: clamp(1rem, 4vw, 1.5rem);
  --app-gap: 6rem;
}

:root {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--light-color);
  min-width: var(--max-body-width);
  color-scheme: dark;
}

a {
  color: var(--primary-color);
  text-underline-offset: 0.2em;
}
