body {
	margin: 0;
}

a:hover {
	text-decoration: none;
}

ul,
menu {
	list-style-type: none;
	margin-block: 0;
	padding-left: 0;
}

h1,
h2,
h3,
h4 {
	margin-block: 0;
}

input {
	border-width: 0;
	font-family: inherit;
}
