.loader {
	background-color: var(--overlay-light-low);
	display: inline-flex;
	height: 1.5rem;
	overflow: hidden;
	position: relative;
	width: 6.5rem;
}

.loader::after {
	animation: loader 0.5s infinite;
	background: linear-gradient(
		to right,
		transparent,
		var(--overlay-light-high),
		transparent
	);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: translateX(-100%);
	width: 100%;
}

@keyframes loader {
	0% {
		transform: translateX(-100%);
	}

	50% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(100%);
	}
}
