.textField {
  background-color: transparent;
  border-bottom: 1px solid var(--light-color);
  padding: 0.5rem;
  font-size: inherit;
  outline: none;
  color: var(--light-color);
}

.textField:focus {
  border-color: var(--primary-color);
}

.textField:disabled {
  opacity: 0.5;
}

.textField::placeholder {
  color: var(--light-color);
  opacity: 0.6;
}
