.button {
	align-items: center;
	border-color: transparent;
	display: inline-flex;
	font-weight: 600;
	gap: 0.5rem;
	justify-content: center;
	letter-spacing: 1px;
	padding: 0.5em 1.25em;
	text-transform: uppercase;
	transition: filter 0.25s;
}

.button:focus-visible {
	outline-width: 0;
}

.button:disabled {
	cursor: not-allowed;
	opacity: var(--disabled-form-opacity);
}

.button:active:not(:disabled),
.button:focus-visible:not(:disabled) {
	filter: brightness(1.5);
}

.button:hover:not(:disabled) {
	cursor: pointer;
	filter: brightness(1.25);
}

.button_primary {
	background-color: var(--primary-color);
	box-shadow: 0 0.25em 0 0 var(--secondary-color);
	color: var(--dark-color);
}

.button_outlined {
	background-color: transparent;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

.button_light {
	background-color: var(--overlay-light-high);
	color: var(--light-color);
}

.button_small {
	font-size: 0.75rem;
}

.button_medium {
	font-size: 1rem;
}

.button_large {
	font-size: 1.25rem;
}

.button_minSpaces {
	padding: 0.25em;
}
